<ion-content [fullscreen]="true">
  <div
    class="h-100 w-100 d-flex justify-content-center align-items-center"
    id="container-main"
  >
    <div
      class="container align-items-center"
      id="container-secondary"
    >
    <div class="d-flex justify-content-center mt-5">
      <div class="circle">
        <img src="../../assets/icon.png" alt="icon">
      </div>
    </div>
    
   
      <div class="mb-5 mt-5 text-center">
        <img src="assets/title.png" alt="logo" style="width: 350px;">
        <ion-text >
          <p style="color: rgba(15, 32, 51, 0.856); font-weight: 400; font-size: 100%;"
          >¡REGISTRA Y AGENDA TU CITA YA!</p>
        </ion-text>
      </div>

      <div style="background-color: rgb(255, 255, 255); padding: 0.5%; display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px; border-radius: 50px;">


      <div class="mb-5 mt-5 custom-container" style="color: gray;">


        <div class="d-flex justify-content-center align-items-center mt-5 p-5">
          
          <div class="inputs"> <br>
            <ion-text> 
              <div class="d-flex justify-content-between mt-4">
                <ion-button expand="block" color="primary" (click)="login()" shape="block">
                  <ion-icon name="logo-google"></ion-icon>
                    Iniciar sesi&oacute;n con Google
                </ion-button>
                
              </div>
              <div class="mt-5" style="color: rgba(112, 122, 148, 0.616);">
                
              </div>
            </ion-text>          
          </div>
        </div>
      </div>

      

     
    </div>
  </div>

</div>
</ion-content>
