#container-main{
    background-color: aqua;
    background-image: url(../../assets/Fondo-dientes.jpg);
    background-size: 40%;
  }
  #container-secondary{
    background-color: rgba($color: #12c7be, $alpha: 0.7);
    width: 90%;
    height: 90%;
  }