<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="ficha-user"></ion-back-button>
      </ion-buttons>
      <button slot="end" class="contB">
        <ion-icon class="editar" name="pencil-outline"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="header"></div>

    <div class="wrapper">
      <div class="patient-info">
        <h1>Datos clínicos del paciente</h1>
        <br />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                id="nombre"
                class="form-control"
                readonly
                [value]="datosFicha.Nombre"
              />
              <br />
            </div>
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input
                type="text"
                id="apellido"
                class="form-control"
                readonly
                [value]="datosFicha.Apellidos"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="Edad">Edad:</label>
              <input
                type="text"
                id="edad"
                class="form-control"
                readonly
                [value]="datosFicha.Edad"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input
                type="text"
                id="telefono"
                class="form-control"
                readonly
                [value]="datosFicha.Telefono"
              />
              <br />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="peso">Peso:</label>
              <input
                type="text"
                id="peso"
                class="form-control"
                readonly
                value="70 kg"
              />
              <br />
            </div>
            <div class="form-group">
              <label for="altura">Altura:</label>
              <input
                type="text"
                id="altura"
                class="form-control"
                readonly
                value="170 cm"
              />
              <br />
            </div>
            <div class="form-group">
              <label for="correo">Correo electrónico:</label>
              <input
                type="email"
                id="correo"
                class="form-control"
                readonly
                value="juan@example.com"
              />
              <br />
            </div>
            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <textarea id="direccion" class="form-control" readonly>
123 Calle Principal, Ciudad</textarea
              >
            </div>
          </div>
        </div>
        <br /><br />
        <h3>Registro de datos dentales</h3>
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2023-07-01</td>
              <td>Examen dental de rutina</td>
            </tr>
            <tr>
              <td>2023-06-15</td>
              <td>Limpieza dental</td>
            </tr>
            <tr>
              <td>2023-05-20</td>
              <td>Tratamiento de conducto</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</div>
