<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="ficha-user"></ion-back-button>
      </ion-buttons>
      <button slot="end" class="contB" [routerLink]="['../update-user', datosFicha._id]">
        <ion-icon class="editar" name="pencil-outline" ></ion-icon>
      </button>
      <ion-buttons slot="end">
        <ion-button class="contB" (click)="deleteUser()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="header"></div>

    <div class="wrapper">
      <div class="patient-info">
        <h1>Datos clínicos del paciente</h1>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input
                  type="text"
                  id="nombre"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Nombre"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input
                  type="text"
                  id="apellido"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Apellidos"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Edad">Edad:</label>
                <input
                  type="text"
                  id="edad"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Edad"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input
                  type="text"
                  id="telefono"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Telefono"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="telefono">Otros padecimientos:</label>
                <input
                  type="text"
                  id="telefono"
                  class="form-control"
                  readonly
                  [value]="datosFicha.OP"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="telefono">auxiliares de higiene bucal:</label>
                <input
                  type="text"
                  id="telefono"
                  class="form-control"
                  readonly
                  [value]="datosFicha.auxHigiene"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="telefono">frecuencia se lava los dientes:</label>
                <input
                  type="text"
                  id="telefono"
                  class="form-control"
                  readonly
                  [value]="datosFicha.LimpDientes"
                />
              </div>
              <br />
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label for="altura">Altura:</label>
                <input
                  type="text"
                  id="altura"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Altura"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Sexo:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.Sexo"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Antecedentes Hereditarios:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.AntecedentesHereditarios"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Enfermedades de trasmisió&oacute;n sexual:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.ETS"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Enfermedades degenerativas:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.ED"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Enfermedades cong&eacute;nitas:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.EC"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Adicciones:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.adicciones"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Motivo">Alergias:</label>
                <input
                  type="text"
                  id="Motivo"
                  class="form-control"
                  readonly
                  [value]="datosFicha.alergias"
                />
              </div>
            </div>
          </div>
        </div>
        
        <br /><br />
        <h3>Registro de datos dentales</h3>
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2023-07-01</td>
              <td>Examen dental de rutina</td>
            </tr>
            <tr>
              <td>2023-06-15</td>
              <td>Limpieza dental</td>
            </tr>
            <tr>
              <td>2023-05-20</td>
              <td>Tratamiento de conducto</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</div>
