<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-avatar slot="start" class="ion-padding">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title>
        <h5>{{user.name}}</h5>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="">
    <ion-list>
      <ion-item lines="none" href="/home">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item lines="none" href="/calendar">
        <ion-icon name="calendar-number" slot="start"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
      <ion-item lines="none" href="/tratamientos">
        <ion-icon name="bandage" slot="start"></ion-icon>
        <ion-label>Tratamientos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-page mt-3" id="main-content">
  <ion-content color="primary">
    <div class="d-flex justify-content-center mt-5">
      <div class="user-card row p-2">
        <div class="col-7 mt-3">
          <div>
            <ion-card-subtitle>Your name</ion-card-subtitle>
            <p class="text-primarius">Eduardo Arciniega</p>
          </div>
          <div class="mt-3">
            <div class="row data-user">
              <div class="col-6">
                <ion-card-subtitle>Edad</ion-card-subtitle>
                <p class="text-secundus">20</p>
              </div>
              <div class="col-6">
                <ion-card-subtitle>Sesiones</ion-card-subtitle>
                <p class="text-secundus">3/4</p>
              </div>
              <div class="col-16">
                <ion-card-subtitle>Proxima cita:</ion-card-subtitle>
                <p class="text-secundus">18/08/2023</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="photo col-5 d-flex justify-content-center align-items-center"
        >
          <img
            src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
            alt=""
            class="rounded mx-auto d-block"
          />
        </div>
      </div>
    </div>
    <!--Parte blanca  -->
    <div class="d-flex justify-content-center h-100">
      <!-- Contenido de la parte blanca -->
      <div class="h-100" id="function-container">
        <!-- Container del segment -->
        <div class="d-flex justify-content-center">
          <div class="p-0 w-75">
            <ion-segment
              class=""
              value="default"
              [(ngModel)]="selectTabs"
              color="medium"
            >
              <ion-segment-button value="datos">
                <ion-label>Datos</ion-label>
              </ion-segment-button>
              <ion-segment-button value="galeria">
                <ion-label>Galeria</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </div>

        <div *ngIf="selectTabs == 'datos'" class="mt-3">
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['mensajes']"
          >
            <ion-icon
              name="chatbox-ellipses-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Chat</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['dentadura']"
          >
            <ion-icon name="happy-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Dentadura</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['datos']"
          >
            <ion-icon
              name="clipboard-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Historial dental</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            id="open-modal"
          >
            <ion-icon
              name="calendar-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Historial de citas</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
          >
            <ion-icon name="pulse-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Medir Pulso</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            id="open-action-sheet"
          >
            <ion-icon
              name="camera-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Agregar foto</ion-label>
            <ion-action-sheet
              trigger="open-action-sheet"
              header="Actions"
              [buttons]="actionSheetButtons"
            ></ion-action-sheet>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </div>
        <div *ngIf="selectTabs == 'galeria'" class="row p-3">
          <div class="col-12 text-dark">
            <p>Today</p>
          </div>
          <div class="d-flex justify-content-start flex-wrap">
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
              color="light"
            />
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
            />
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
            />
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
            />
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
            />
            <img
              src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
              alt=""
              class="user-photo rounded mx-auto"
            />
          </div>
        </div>
      </div>
    </div>
    <ion-modal
      #modal
      trigger="open-modal"
      [presentingElement]="presentingElement"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Historial de citas</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label> Proximas citas </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>
                <h2>10/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>20/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>30/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>10/09/2023</h2>
              </ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label> Citas concluidas </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>
                <h2>10/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>20/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>30/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>10/09/2023</h2>
              </ion-label>
            </ion-item>
          </ion-item-group>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
