.user-card{
  background-color: #e0dfe6;;
  width: 95%;
  max-width: 750px;
  min-height: 160px;
  border-radius: 20px 20px 20px 20px;

}

ion-card-subtitle{
  font-size: 12px;
  color: rgb(100, 100, 100);
  font-weight: 400;
}


.circle{
  border-radius: 50%;
}

.user-photo{
  padding: 0%;
  margin: 0%;
  width: calc(100% /4);
  
}

.text-secundus{
  font-size: 12px;
  color: #222222;
 
}
.text-primarius {
  color: #222222;

}
#function-container{
  width: 850px;
  margin-top: 10%;
  border-radius: 50px 50px 0px 0px;
  background-color: #e0dfe6;
}
.icon{
  background-color: rgb(92, 103, 204);
  color: #e0dfe6;
  border-radius: 10px;
  padding: 2%;
}
.photos{
  width: 100%;
  max-width: 150px;
}

ion-label{
  color: #222222;
}
ion-item{
  background-color: #e0dfe6;
}

.cita{
  font-size: 13px;
  color: #222222;
}
