<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
        <div class="d-flex justify-content-start align-items-center p-2">
          <h5>{{user.displayName}}</h5>
        </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" href="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item lines="none" href="/calendar">
        <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
      <ion-item lines="none" href="/tratamientos">
        <ion-icon name="bandage-outline" slot="start"></ion-icon>
        <ion-label>Lista de pacientes</ion-label>
      </ion-item>
      <ion-item lines="none" href="/solicitud">
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-label>Agendar cita</ion-label>
      </ion-item>
      <ion-item lines="none" href="/ficha-user">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Fichas de paciente</ion-label>
      </ion-item>
      <ion-item lines="none" href="/listasolicitud">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Solicitudes de citas</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="cerrarSesion()" href="sign-in">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page mt-3" id="main-content">
  <ion-content color="primary">
    <div class="d-flex justify-content-center mt-5">
      <div class="user-card row p-2">
        <div class="col-7 mt-3">
          <div>
            <ion-card-subtitle>Nombre</ion-card-subtitle>
            <p class="text-primarius">
              <span style="color: rgb(81, 111, 245)">{{user.Nombre}} {{user.Apellidos}}</span>
            </p>
          </div>
          <div class="mt-3">
            <div class="row data-user">
              <div class="col-sm-3 col-6">
                <ion-card-subtitle>Edad</ion-card-subtitle>
                <p class="text-secundus">{{user.Edad}}</p>
              </div>
              <div class="col-sm-3 col-6">
                <ion-card-subtitle>Sexo</ion-card-subtitle>
                <p class="text-secundus">{{user.Sexo}}</p>
              </div>
              <div class="col-sm-3 col-6">
                <ion-card-subtitle>Altura</ion-card-subtitle>
                <p class="text-secundus">{{user.Altura}}</p>
              </div>
              <div class="col-sm-3 col-6">
                <ion-card-subtitle>Telefono</ion-card-subtitle>
                <p class="text-secundus">{{user.Telefono}}</p>
              </div>
<!--               <div class="col-6">
                <ion-card-subtitle>Sesiones</ion-card-subtitle>
                <p class="text-secundus">3/4</p>
              </div> -->
<!--               <div class="col-16">
                <ion-card-subtitle>Proxima cita:</ion-card-subtitle>
                <p class="text-secundus">18/08/2023</p>
              </div> -->
            </div>
          </div>
        </div>
<!--         <div
          class="photo col-5 d-flex justify-content-center align-items-center"
        >
          <img
            src="https://pbs.twimg.com/media/EDhM2WfU0AADIG4.jpg"
            alt=""
            class="circle"
          />
        </div> -->
      </div>
    </div>

    <!--Parte blanca  -->
    <div class="d-flex justify-content-center h-100">
      <!-- Contenido de la parte blanca -->
      <div class="" id="function-container">
        <!-- Container del segment -->
        <div class="d-flex justify-content-center">
          <div class="p-0 w-75">
            <ion-segment value="default" [(ngModel)]="selectTabs">
              <ion-segment-button value="datos">
                <ion-label>Datos</ion-label>
              </ion-segment-button>
              <ion-segment-button value="galeria">
                <ion-label>Galeria</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </div>

        <div *ngIf="selectTabs == 'datos'" class="mt-3">
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['mensajes']"
          >
            <ion-icon
              name="chatbox-ellipses-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Chat</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['dentadura']"
          >
            <ion-icon name="happy-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Dentadura</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            [routerLink]="['/ficha-user/',user._id]"
          >
            <ion-icon
              name="clipboard-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Ficha de usuario </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            id="open-modal"
          >
            <ion-icon
              name="calendar-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Historial de citas</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            (click)="addPulso()"
          >
            <ion-icon name="pulse-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Medir Pulso</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item
            button
            lines="none"
            color="light"
            class="p-3"
            detail="false"
            id="open-action-sheet"
          >
            <ion-icon
              name="camera-outline"
              slot="start"
              class="icon"
            ></ion-icon>
            <ion-label>Agregar foto</ion-label>
            <ion-action-sheet
              trigger="open-action-sheet"
              header="Actions"
              [buttons]="actionSheetButtons"
            ></ion-action-sheet>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </div>



        <div *ngIf="selectTabs == 'galeria'" class="w-100" id="galeria" >
          <div class="container w-100" id="container-fotos">
            <div class="row" id="row-fotos">
              <div class="col-md-3" *ngFor="let image of photos">
                <img [src]="image.Foto" class="img-thumbnail" alt="Image" (click)="setOpenTwo({ arg1: true, arg2: image})"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-modal
      #modal
      trigger="open-modal"
      [presentingElement]="presentingElement"
      [backdropDismiss]="false"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Historial de citas</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label> Proximas citas </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>
                <h2 class="cita">10/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">20/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">30/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">10/09/2023</h2>
              </ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="primary">
              <ion-label> Citas concluidas </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>
                <h2 class="cita">10/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">20/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">30/08/2023</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 class="cita">10/09/2023</h2>
              </ion-label>
            </ion-item>
          </ion-item-group>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isModalOpen"
    [backdropDismiss]="false">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar color="primary">
            <ion-title>{{this.foto.Fecha}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="deleteFoto(this.foto._id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenTwo({ arg1: false, arg2: {} })">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" color="primary">
          <div class="d-flex justify-content-center align-items-center">
            <img [src]="this.foto.Foto" alt="">
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>
</div>
