.user-card{
  background-color: #e0dfe6;;
  width: 95%;
  max-width: 750px;
  min-height: 160px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.user-photo{
  padding: 0%;
  margin: 0%;
  width: calc(100% /4);
  background-color: #8c8c8c;;
}
.text-secundus{
  font-size: 22px;
  color: black;
  font-weight: 700;
}
.text-primarius {
  font-size: 24px;
  color: black;
  font-weight: 900;
}
#function-container{
  width: 850px;
  margin-top: 10%;
  border-radius: 50px 50px 0px 0px;
  background-color: #e0dfe6;
}
.icon{
  background-color: rgb(92, 103, 204);
  color: #e0dfe6;
  border-radius: 10px;
  padding: 2%;
}
.photos{
  width: 100%;
  max-width: 150px;
}
ion-label{
  color: #222222;
}
ion-item{
  background-color: #e0dfe6;
}
@media only screen and (max-width: 600px) {
  .text-secundus{
      font-size: 14px;
  }
  .text-primarius {
      font-size: 16px;
      color: black;
      font-weight: 900;
  }
  #function-container{
      padding: 0;
      width: 100%;
      
  }
}

@media only screen and (max-width: 300px) {
  .text-secundus{
      font-size: 12px;
  }
  .text-primarius {
      font-size: 14px;
      color: black;
      font-weight: 900;
  }
}
