ion-button {
    margin-right: 10px;
    position: relative;
  }
  
  .newMessage2{
    position: fixed;
    bottom: 0%;
    // /height: 50%;
  }
  
  ion-content {
    background: #f4f4f4;
  }
  
  .message-item {
    //background-color: aqua;
    padding: 10px;
    //background-color: rgb(238, 238, 238);
    border-radius:none;
    //border-bottom: 1px solid #ffffff;
  }
  

  //mensaje predeterminado
  .message-item.incoming {
    text-align: left;
    //background-color: #bb1414;
  }
  
  .message-item.outgoing {
    text-align: right;
    //background-color: #51a710;
    
  }

.message-item.incoming .message-content {
  background-color: rgb(56, 177, 126);
  color: #ffffff;
  align-self: flex-start;
  //max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.message-item.outgoing .message-content {
  background-color: rgb(125, 138, 255);
  color: #ffffff;
  //con este se modica el de la derecha pero no se queda a la derecha 
  //queda con un hueco a su lado derecho
  //max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.message-item .message-time {
  font-size: 0.8rem;
  color: #999;
  margin-top: 5px;
}
  
  .message-item .message-time {
    font-size: 0.8rem;
    //color: #999;
  }
  
  ion-footer {
    --background: #fff;
    --padding-bottom: 10px;
  }
  
  ion-input {
    flex: 1;
  }
  
  ion-button {
    margin-left: 10px;
  }
  
