<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ficha-user"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header"></div>

  <div class="wrapper">
    <div class="patient-info">
      <h1>Ficha de paciente</h1>
      <br />
      <p>
        Por favor, llene los siguientes campos que desee actualizar, para
        posteriormente solicitar su cita.
      </p>
      <br />

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Nombre del paciente:</label>
            <ion-row>
              <ion-col>
                <input
                  type="text"
                  id="nombre"
                  class="form-control"
                  placeholder="Nombre(s)"
                  #Nombre
                />
              </ion-col>
              <ion-col>
                <input
                  type="text"
                  id="apellido"
                  class="form-control"
                  placeholder="Apellido(s)"
                  #Apellidos
                />
              </ion-col>
            </ion-row>
          </div>
          <br />

          <div class="form-group">
            <ion-row>
              <ion-col>
                <label for="edad">Edad:</label>
                <input type="text" id="edad" class="form-control" #Edad />
              </ion-col>
              <ion-col>
                <label for="altura">Altura:</label>
                <input type="text" id="altura" class="form-control" #Altura />
              </ion-col>
             </ion-row
            ><br />

            <div class="form-group">
              <ion-row
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                "
              >
                <ion-col><label for="sexo">Sexo:</label></ion-col>
                <ion-radio-group #Sexo>
                    <ion-radio value="F" >Femenino</ion-radio>
                    <ion-radio value="M" >Masculino</ion-radio>
                </ion-radio-group>
              </ion-row>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="telefono">Tel&eacute;fono:</label>
            <input type="text" id="telefono" class="form-control" #Telefono />
            <br />
          </div>
        </div>
      </div>

      <br />
      <h5>Antecedentes patol&oacute;gicos hereditarios</h5>
      <br />

      <div class="form-group">
        <label
          >Padecimientos familiares en l&iacute;nea (Ejemplo: Diabetes,
          hipertensi&oacute;n):</label
        >
        <input type="text" id="padecimientofam" class="form-control" #AntecedentesHereditarios/>
      </div>
      <br />
      <div class="form-group">
        <h5>Antecedentes patol&oacute;gicos personales</h5>
        <br />

        <label>Enfermedades de trasmisió&oacute;n sexual:</label>
        <input type="text" id="padecimientosex" class="form-control" #ETS/>
      </div>
      <br />
      <div class="form-group">
        <label
          >Enfermedades degenerativas (Ejemplo: Alzehaimer, Parkinson):</label
        >
        <input type="text" id="padecimientodeg" class="form-control" #ED/>
      </div>
      <br />
      <div class="form-group">
        <label
          >Enfermedades cong&eacute;nitas (Ejemplo: Defectos del coraz&oacute;n,
          S&iacute;ndrome de Down):</label
        >
        <input type="text" id="padecimientocon" class="form-control" #EC/>
      </div>
      <br />
      <div class="form-group">
        <label>Otros padecimientos (Especifique):</label>
        <input type="text" id="padecimientootros" class="form-control" #OP/>
      </div>
      <br />

      <h5>Antecedentes personales no patol&oacute;gicos</h5>
      <div class="form-group">
        <ion-row>
          <ion-radio-group value="frecuencia" #LimpDientes>
            <ion-col>
              <label>¿Con qu&eacute; frecuencia se lava los dientes?:</label>
            </ion-col>
            <ion-col
              ><ion-radio value="tres"
                >Tres veces al d&iacute;a</ion-radio
              ></ion-col
            >

            <ion-col>
              <ion-radio value="menosdetres"
                >Menos de tres veces al d&iacute;a</ion-radio
              ></ion-col
            >

            <ion-col>
              <ion-radio value="nodiario">No diariamente</ion-radio></ion-col
            >
          </ion-radio-group>
        </ion-row>
      </div>
      <br />

      <div class="form-group">
        <ion-row
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          "
        >
        <ion-radio-group value="ninguno" #auxHigiene>
        <ion-col>
          <label>¿Usa auxiliares de higiene bucal?:</label>
        </ion-col>
        <ion-col><ion-radio value="Hilo dental">Hilo dental</ion-radio></ion-col>
        <ion-col> <ion-radio value="Enguaje">Enguaje</ion-radio></ion-col>
      </ion-radio-group>
          
        </ion-row>
      </div>
      <br />
      <div class="form-group">
        <label>Adicciones:</label>
        <input type="text" id="adicciones" class="form-control" #adicciones/>
      </div>
      <br />
      <div class="form-group">
        <label>¿Antecedentes al&eacute;rgicos?:</label>
        <input type="text" id="otroalerg" class="form-control"  #alergias/>
      </div>
      <br />

      

      <br /><br /><br />
      <ion-button expand="full" shape="round" (click)="updateFicha(Nombre, Apellidos, Sexo, Telefono, Edad, Altura,AntecedentesHereditarios,
      ETS,ED,EC,OP,auxHigiene,LimpDientes,adicciones,alergias)"
        >Actualizar respuestas</ion-button
      >
    </div>
  </div>
</ion-content>
