<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        
      </ion-buttons>
      <button slot="end" class="contB">
        
      </button>
    </ion-toolbar>
  </ion-header>


  <ion-content >

    <div class="header"></div>

    <div class="wrapper">

      <div class="patient-info">
        
            <div class="form-group">
              <label for="fecha-nacimiento">Nombre:</label>
              <input
                type="text"
                id="nombrediente"
                class="form-control"
                readonly
              />
            </div> <br>
            <div class="form-group">
              <label for="telefono">Tratamiento:</label>
              <input
                type="text"
                id="nuevotratamiento"
                class="form-control"
              /> <br>
            </div>
            <div class="form-group">
              <label for="telefono">Fecha:</label>
              <input
                type="date"
                id="fechatratamiento"
                class="form-control"
              /> <br>
            </div>
     

        <h3>Historial de tratamientos</h3><br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2023-07-01</td>
              <td>Limpieza general</td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</div>