#function-container{
  position: relative;
  height: auto;
  width: 850px;
  top: 30%;
  border-radius: 50px 50px 0px 0px;
  background-color: #e0dfe6;
}
.title{
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  color: black;
}
#leyenda-green{
  width: 10%;
  height: 10%;
  border-color: azure;
}


@media only screen and (max-width: 600px) {
  #function-container{
      width: 100%;
      top: 5%;
  }
}

.diente img {
  width: 100%;
  height: auto;
  max-width: 100%;
}


.diente img.muela {
  transform: scale(1.6);
  padding-left: 5px !important;
  
  
}


.diente img:hover {
  filter: brightness(1.2) saturate(2000%) hue-rotate(-90deg);
  transform: scale(1.5); 
  
}

.diente img.muela:hover {
  filter: brightness(1.2) saturate(2000%) hue-rotate(-90deg);
  transform: scale(2.1); 
  
}



@media (min-width: 768px) {
  .diente img:hover {
    transform: scale(1.4);
  }
  .diente img.muela:hover {
    transform: scale(1.9);
  }
}


.wrapper3 {
  align-items: center;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #222222;
  top: 88%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  bottom: 0;
  font-size: 15px;
  position: absolute;
  box-shadow: none;
  border-radius: 20px 20px 0 0;
  width: 100%;
  
}


.wrapper {
  width: 100%;
  align-items: center;
  line-height: 1.2;
  text-align: left;
  background-color: rgb(101, 116, 255);
  color: white;
  top: 27%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  bottom: 0;
  position: absolute;
  box-shadow: none;
  border-radius: 20px 20px 0 0;
}

.p{
  font-size: 13px;
  color:#222222;
}

.wrapper2 {
  width: 100%;
  line-height: 1.2;
  text-align: center;
  color: #222222;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  position: absolute;
  border-radius: 20px;
}

.icon{
  width: 60px;
}

.diente{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

ion-content{
  --background: #ffffff;
}




