<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tratamientos/{{userId}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div style="align-items: center;">

  <div class="wrapper2">
    <img src="assets/icon.png" class="icon">
  <p>{{user.name}}</p>
  <p class="p">Paciente</p>

  </div>

 <div class="wrapper">
  <h4 style="color: rgb(255, 255, 255); font-size: 130%;">Historial dental</h4>
  <p class="p" style="color: rgb(255, 255, 255);">Seleccione una pieza para m&aacute;s informaci&oacute;n:</p>

  <div class="diente">
  <img style="width: 350px;height: auto;display: block;
  margin-left: auto;
  margin-right: auto;"  src="assets/teethview.png" alt="">
</div>

 </div>

 <div class="wrapper3">
  <p>Simbolog&iacute;a</p>
  <ion-row style="display: flex; align-items: center; justify-content: center;">
    <ion-col size="3">
      <ion-icon name="stop-outline"></ion-icon>Sano
    </ion-col>
    <ion-col>
      <ion-icon name="stop" style="color: rgb(111, 209, 82);"></ion-icon> En tratamiento
    </ion-col>
  </ion-row>
 </div>

</div>

</ion-content>