<ion-menu contentId="main-content">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <!-- Resto de tus etiquetas de head -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-avatar slot="start" class="ion-padding">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title>
        <h5>...</h5>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="">
    <ion-list>
      <ion-item lines="none" href="/home">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item lines="none" href="/calendar">
        <ion-icon name="calendar-number" slot="start"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
      <ion-item lines="none" href="/tratamientos">
        <ion-icon name="bandage" slot="start"></ion-icon>
        <ion-label>Tratamientos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="header"></div>

    <div class="wrapper">
      <div class="patient-info">
        <h1>Solicitud de cita</h1>
        <br />
        <p>
          Por favor, llene los siguientes campos para solicitar agendar su cita.
          Recuerde que esto no garantiza la aceptaci&oacute;n del d&iacute;a u
          hora deseadas para la consulta, sino que ser&aacute; revisada y
          validada para serle notificado en horario h&aacute;bil.
        </p>
        <br />

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre del paciente:</label>
              <ion-row>
                <ion-col>
                  <input
                    type="text"
                    id="nombre"
                    class="form-control"
                    placeholder="Nombre(s)"
                  />
                </ion-col>
                <ion-col>
                  <input
                    type="text"
                    id="apellido"
                    class="form-control"
                    placeholder="Apellido(s)"
                  />
                </ion-col>
              </ion-row>
            </div>
            <br />

            <div class="form-group">
              <label for="fecha-nacimiento">Fecha de nacimiento:</label>
              <input type="date" id="fecha-nacimiento" class="form-control" />
            </div>
            <br />
            <div class="form-group">
              <ion-row>
                <ion-col>
                  <label for="edad">Edad:</label>
                  <input type="text" id="edad" class="form-control" />
                </ion-col>
                <ion-col>
                  <label for="altura">Altura:</label>
                  <input type="text" id="altura" class="form-control" />
                </ion-col>
                <ion-col>
                  <label for="peso">Peso:</label>
                  <input type="text" id="peso" class="form-control" />
                </ion-col> </ion-row
              ><br />

              <div class="form-group">
                <ion-row
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                  "
                >
                  <ion-col><label for="sexo">Sexo:</label></ion-col>
                  <ion-radio-group value="frecuencia">
                    <ion-col><ion-radio value="F">Femenino</ion-radio></ion-col>

                    <ion-col>
                      <ion-radio value="M">Masculino</ion-radio></ion-col
                    >
                  </ion-radio-group>
                </ion-row>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label for="telefono">Tel&eacute;fono:</label>
              <input type="text" id="telefono" class="form-control" /> <br />

              <div class="form-group">
                <ion-row>
                  <ion-col>
                    <label for="escolaridad">Escolaridad:</label>
                    <input type="text" id="escolaridad" class="form-control" />
                  </ion-col>
                  <ion-col>
                    <label for="ocupacion">Ocupaci&oacute;n:</label>
                    <input type="text" id="ocupacion" class="form-control" />
                  </ion-col>
                </ion-row>
              </div>
              <br />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="estadocivil">Estado civil:</label>
              <input type="text" id="estadocivil" class="form-control" />
            </div>
            <br />

            <div class="form-group">
              <label>Dirección:</label>
              <ion-row>
                <ion-col>
                  <input
                    type="text"
                    id="calle"
                    class="form-control"
                    placeholder="Calle"
                /></ion-col>
                <ion-col>
                  <input
                    type="text"
                    id="colonia"
                    class="form-control"
                    placeholder="Colonia"
                /></ion-col>
                <ion-col>
                  <input
                    type="text"
                    id="numext"
                    class="form-control"
                    placeholder="N&uacute;mero exterior"
                  />
                </ion-col>
              </ion-row>
            </div>
            <br />

            <div class="form-group">
              <label for="motivo">Motivo de la consulta:</label>
              <textarea id="motivo" class="form-control"></textarea>
              <br />
            </div>

            <div class="form-group">
              <label for="namemedico">Nombre del m&eacute;dico:</label>
              <input type="text" id="namemedico" class="form-control" /> <br />
            </div>

            <div class="form-group">
              <ion-row>
                <ion-col>
                  <label for="fechacita">Fecha deseada para su cita:</label>
                  <input type="date" id="fechacita" class="form-control" />
                </ion-col>
                <ion-col>
                  <label for="horacita">Hora:</label>
                  <ion-datetime presentation="time"></ion-datetime>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>

        <br />
        <h5>Antecedentes patol&oacute;gicos hereditarios</h5>
        <br />

        <div class="form-group">
          <label
            >Padecimientos familiares en l&iacute;nea (Ejemplo: Diabetes,
            hipertensi&oacute;n):</label
          >
          <input type="text" id="padecimientofam" class="form-control" />
        </div>
        <br />
        <div class="form-group">
          <h5>Antecedentes patol&oacute;gicos personales</h5>
          <br />

          <label>Enfermedades de trasmisió&oacute;n sexual:</label>
          <input type="text" id="padecimientosex" class="form-control" />
        </div>
        <br />
        <div class="form-group">
          <label
            >Enfermedades degenerativas (Ejemplo: Alzehaimer, Parkinson):</label
          >
          <input type="text" id="padecimientodeg" class="form-control" />
        </div>
        <br />
        <div class="form-group">
          <label
            >Enfermedades cong&eacute;nitas (Ejemplo: Defectos del
            coraz&oacute;n, S&iacute;ndrome de Down):</label
          >
          <input type="text" id="padecimientocon" class="form-control" />
        </div>
        <br />
        <div class="form-group">
          <label>Otros padecimientos (Especifique):</label>
          <input type="text" id="padecimientootros" class="form-control" />
        </div>
        <br />

        <h5>Antecedentes personales no patol&oacute;gicos</h5>
        <div class="form-group">
          <ion-row>
            <ion-radio-group value="frecuencia">
              <ion-col>
                <label>¿Con qu&eacute; frecuencia se lava los dientes?:</label>
              </ion-col>
              <ion-col
                ><ion-radio value="tres"
                  >Tres veces al d&iacute;a</ion-radio
                ></ion-col
              >

              <ion-col>
                <ion-radio value="menosdetres"
                  >Menos de tres veces al d&iacute;a</ion-radio
                ></ion-col
              >

              <ion-col>
                <ion-radio value="nodiario">No diariamente</ion-radio></ion-col
              >
            </ion-radio-group>
          </ion-row>
        </div>
        <br />

        <div class="form-group">
          <ion-row
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            "
          >
            <ion-radio-group value="auxiliares">
              <ion-col>
                <label>¿Usa auxiliares de higiene bucal?:</label>
              </ion-col>
              <ion-col><ion-radio value="si">Si</ion-radio></ion-col>

              <ion-col> <ion-radio value="no">No</ion-radio></ion-col>
            </ion-radio-group>
            <ion-col>
              <input
                type="text"
                id="aux"
                class="form-control"
                placeholder="¿Cu&aacute;les?"
              />
            </ion-col>
          </ion-row>
        </div>
        <br />

        <div class="form-group">
          <ion-row>
            <ion-radio-group value="comidas">
              <ion-col>
                <label
                  >¿Consume golosinas u otro tipo de alimentos entre las
                  comidas?:</label
                >
              </ion-col>
              <ion-col><ion-radio value="si">Si</ion-radio></ion-col>

              <ion-col> <ion-radio value="no">No</ion-radio></ion-col>
            </ion-radio-group>
          </ion-row>
        </div>
        <br />

        <div class="form-group">
          <ion-row>
            <ion-radio-group value="adicciones">
              <ion-col>
                <label>Adicciones:</label>
              </ion-col>
              <ion-col><ion-radio value="tabaco">Tabaco</ion-radio></ion-col>

              <ion-col> <ion-radio value="alcohol">Alcohol</ion-radio></ion-col>

              <ion-col> <ion-radio value="otro">Otro</ion-radio></ion-col>
            </ion-radio-group>
          </ion-row>
          <br />
          <input
            type="text"
            id="otroadicc"
            class="form-control"
            placeholder="En caso de se otro, especifique"
          />
        </div>
        <br />

        <div class="form-group">
          <ion-row>
            <ion-radio-group value="alergia">
              <ion-col>
                <label>¿Antecedentes al&eacute;rgicos?:</label>
              </ion-col>
              <ion-col><ion-radio value="si">Si</ion-radio></ion-col>

              <ion-col> <ion-radio value="no">No</ion-radio></ion-col>
            </ion-radio-group>
          </ion-row>
          <br />
          <input
            type="text"
            id="otroalerg"
            class="form-control"
            placeholder="En caso de ser cierto, especifique su caso"
          />
        </div>
        <br />

        <div class="form-group">
          <ion-row>
            <ion-radio-group value="hospitalizado">
              <ion-col>
                <label>¿Ha sido hospitalizado?:</label>
              </ion-col>
              <ion-col><ion-radio value="tabaco">Si</ion-radio></ion-col>

              <ion-col> <ion-radio value="alcohol">No</ion-radio></ion-col>
            </ion-radio-group>
          </ion-row>
          <br />
          <input
            type="text"
            id="hospit"
            class="form-control"
            placeholder="Describa el motivo y fecha aproximada"
          />
          <br />
          <input
            type="text"
            id="padec"
            class="form-control"
            placeholder="Padecimiento actual"
          />
        </div>

        <br /><br /><br />
        <ion-button type="submit" expand="full" shape="round"
          >Enviar respuestas</ion-button
        >
      </div>
    </div>
  </ion-content>
</div>
