<ion-content [fullscreen]="true">
  <div
    class="h-100 w-100 d-flex justify-content-center align-items-center"
    id="container-main"
  >
    <div
      class="container align-items-center"
      id="container-secondary"
    >
    <div class="d-flex justify-content-center mt-5">
      <div class="circle">
        <img src="../../assets/icon.png" alt="icon">
      </div>
    </div>
    
  
      <div class="mb-5 mt-5 text-center">

        <ion-text >
          <p style="color: rgba(15, 32, 51, 0.856); font-weight: 400; font-size: 100%;"
          >¡REG&Iacute;STRATE Y ACCEDE!</p>
        </ion-text>
      </div>

      <div style="background-color: rgb(255, 255, 255); padding: 0.5%; display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px; border-radius: 50px;">


      <div class="mb-5 mt-5 custom-container" style="color: gray;">

        <ion-input label="Nombre(s)" label-placement="floating" placeholder="usuario@correo.com"></ion-input>
        <br>
        <ion-input label="Apellido(s)" label-placement="floating" placeholder="usuario@correo.com"></ion-input>
        <br>
        <ion-input label="Correo electr&oacute;nico" label-placement="floating" placeholder="usuario@correo.com"></ion-input>
        <br>
        <ion-input label="Contrase&ntilde;a" type="password" label-placement="floating" placeholder="*****"></ion-input>
        <br>
        <ion-input label="Confirmar contrase&ntilde;a" type="password" label-placement="floating" placeholder="*****"></ion-input>
        
        <br><br><ion-button type="submit" expand="full" shape="round" style="margin-left: 10%; margin-right: 10%;">Registrarse</ion-button>
        

        <div class="mt-5" style="color: rgba(112, 122, 148, 0.616); text-align: center;">
          <a href="/sign-in">Ya tengo una cuenta</a> 

        </div>

      </div>
      
    
    </div>
  </div>

</div>
</ion-content>